body {
  text-align: center;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
  margin-bottom: 20px
}

p, li {
  font-family: 'Nunito Sans', sans-serif;
  padding: 5px 0;
  line-height: 1.5rem;
}

a {
  color: #474747;
}

a:hover {
  color: #8c8c8c;
}

img {
  display: block;
  margin: 20px auto 20px;
}

code {
    padding: 0
}

pre {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-left: 3px solid #282828;
    color: #646464;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

table, th, td {
  border: 1px solid;
  padding: 3px 10px;
  font-weight: normal;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5rem;
}

#dog-table {
  margin: auto;
}

/* GENERAL STYLING */
/* Fonts */
.serif {
  font-family: 'Roboto Slab', serif;
}

.sans-serif {
  font-family: 'Nunito Sans', sans-serif;
}

.italics {
  font-style: italic;
  text-align: center;
}

/* Headings */

.small-heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}

/* Containers */
.wide-container {
  margin: auto;
  padding: 3% 7%;
}

.standard-container {
  margin: auto;
  padding: 3% 15%;
}

.narrow-container {
  margin: auto;
  padding: 3% 30%;
}

/* Sections */

.light-section {
  background-color: #ffffff;
  color: #383838;
}

.dark-section {
  background-color: #383838;
  color: #8c8c8c;
}

/* Divider */

.divider {
  border-style: dotted none none;
  height: 0;
  width: 20%;
  border-width: 10px;
  margin: 10px auto;
  border-color: #ffffff;
  opacity: 1;
  color: #ffffff;
}

/* Main Section */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 75px;
}

.top-section {
  margin-top: 50px;
}

.post-description {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.title-link {
  text-decoration: none;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
}

.card-custom {
  margin-bottom: 2rem;
}

.profile-pic {
  width: 100%;
  max-width: 220px;
  aspect-ratio: 8/9;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card-image-custom {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-container {
  margin: 0px 15%
}

.post-container {
  margin: 25px 10%
}

.text-section {
  margin-bottom: 50px
}

.post-title {
  padding: 0
}

.post-dateline {
  padding: 0
}

.post-body {
  padding-top: 10px;
  text-align: left;
  color: black
}

/* Specific Sections */

.intuition-paragraph {
  margin-left: 5%;
  color: #8c8c8c;
}

.image-box {
  display: flex;
}

.source-reference {
  text-align: right;
  font-style: italic;
  color: #8c8c8c;
  margin-bottom: 0;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 12px;
}

.image-container{
  overflow: auto;
  margin: 0;
  padding: 0;
}

.equation-description {
  color: #8c8c8c;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 12px;
  line-height: 120%;
}

.image-description {
  color: #8c8c8c;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Links */

.post-link{
  text-decoration: none
}

.post-link:link {
  color: #000000;
}

.post-link:visited {
  color: #383838;
}

.post-link:hover {
  color: #8c8c8c;
}

.post-link:active {
  color: #8c8c8c;
}

/* Image Specific Styles */

#dog-photo {
  width: 75%;
  height: auto;
  margin-top: 0
}

#GAN-diagram {
  max-width: 500px
}

#CycleGAN-diagram {
  max-width: 1000px
}

#sample-images {
  max-width: 1000px
}

#asl-alphabet {
  max-width: 500px
}

#batch-norm {
  max-width: 500px
}

#backward-pass {
  max-width: 800px
}

#update-step {
  max-width: 300px
}

#model-gradients {
  max-width: 500px
}

/* Footer Section */

#Footer {
  position:absolute;
  padding-top: 10px;
  bottom:0;
  width:100%;
  height:75px;
}

.footer-icon{
  padding: 5px 10px;
}

.footer-link {
  color: #8c8c8c;
  text-decoration: none;
}

.footer-link:hover {
  color: #d1d1d1;
}

.copyright{
  margin-top: 5px;
  margin-bottom: 0;
}


#bio {
  text-align: center;
}